h1 {
  text-align: center;
  padding: 15px;
}

h2 {
  background: yellow;
}

div .question {
  padding: 5px;
  margin: 5px 0px 5px 0px;
}

div .question .answer-block {
  /* top right bottom left */
  padding: 5px 0px 5px 0px;
}
