{% extends "base.html" %}

{% block head %}
    <title>Exam Version Generator Example</title>
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Exam Version Generator</h1>
    <p class="lead">This web app creates multiple exam versions from user provided questions and answers. Check out an <a href="/example">example</a>.</p>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
          <h2>Exam Versions for the 21st Century</h2>
          <p>It would be nice if students never cheated on exams. It would also be nice if ice cream was always good for you.</p>
          <p>Fortunately, there are ways to prevent cheating and also situations where ice cream is indeed good for you (what would want to eat after being trapped on a desert island for a week withou food?!)</p>

          <h2>Features</h2>
          <ul>
            <li>Free, as in free beer <i>and</i> freedom!</li>
            <li>Plain text formats make it easier to write exams in your favorite text editor</li>
            <li>No red tape (though, this app may use "duct tape")</li>
          </ul>
      </div>
      <div class="col-md-3">
        <div class="figure">
          <img 
            class="rounded float-left img-fluid"
            src="/images/exam.png"
            alt="Exam">
        </div>
        <div>
          <p>Image from <a href="https://unsplash.com/@nate_dumlao">Nathan Dumlao</a> on <a href="https://unsplash.com/photos/xPHmmVKS8lM">unsplash</a></p>
        </div>
      </div>
      <div class="col-md-4">
          <h2>Sample Questions</h2>
          <p>Questions are stored server-side as human-readable JSON files.</p>
          <script src="https://gist.github.com/captainalan/f35781c868b2047810796e45e03e5cfc.js"></script>
      </div>
    </div>
</div>
{% endblock %}